database_url = "postgres://username:password@host/database"
redis_url = "redis://host:port"
cdn_url = "http://127.0.0.1:3000/public"
default_avatar = "/avatars/default.png"
cors_origin = "http://127.0.0.1:5173"
cookies_domain = "127.0.0.1"
disable_rate_limits = false
maintenance = false

[limits]
max_previews_per_rice = 10
user_avatar_size_limit = 5000000 # 5MB
dotfiles_size_limit = 500000000 # 500MB
preview_size_limit = 10000000 # 10MB

[jwt]
# if you dont have to then dont change this value
# shorter access token expiration means user data
# is fetched from database more often
# which means if you ban user he will "notice" it sooner
access_exp = "1m"
refresh_exp = "168h"

[blacklist]
# these three arrays are used in different places for different things:
# [SYNTAX] where: how
# rice title: contains words[]
# rice description: contains words[]
# user's display name: contains words[], display_names[]
# username: exact usernames[], display_names[] + contains words[]

words = [ "bad" ]
display_names = [ "Bad User" ]
usernames = [ "admin", "moderator" ]